*{
    box-sizing: border-box;
}

@font-face {
    font-family: Zort;
    src: url(fonts/HIROMISAKE.ttf);
}

@font-face{
    font-family:consria;
    src: url(fonts/Pragmatica-ExtraLight.ttf)
}

body{
    background-color: #181919;
}

.header{
    width: 100%;
    min-width: 1080px;
    height: auto;
    background-color: #00afa6;
    font-family: Zort;
    display: flex;
    justify-content: space-evenly;
    
    
}

.logo{
    margin-left: 2%;
    font-family: Zort;
    font-size: 300%;
    display: flex;
}

.logo::after{
    content: "CONSRIA";
    margin-top: 8%;
    margin-left: 2%;
}


.aimg{
    width: 65%;
    max-width: 1080px;
    height: auto;
}

.yazi{
    font-family: Consria;
    font-size: 150%;
    color: aquamarine;
    margin-top: 11%;
    margin-left: 1%;

}


.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 13%;
}

.twitter {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 25%;
}

.menu {
    text-decoration: none;
    font-family: comic;
    display: flex;
    align-items: center;
    color: black;
    width: 25%;
    height: auto;
    font-size: 200%;
    font-family: consria;
    transition: all .1s;
    
}

.menu:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.menu a{
    text-decoration: none;
    color: black;   
}

.ikutu{
    flex-wrap: wrap;
    display: flex;
    color: yellow;
}

.kutu{
    
    width: 30%;
    height: 25%;
    max-width: 500px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    border: 3px solid red;
    font-family: consria;
    font-size: 200%;
    transition: all .2s;
}

.kutu:hover{
    transform: scale(1.1);
}

.kisim{
    background-color: #00afa6;
    color: black;
    width: 100%;
    max-width: 500px;
    height: 10%;
    display: flex;
    margin-top: -3%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.kisim p{
    color: black;
}

